## FILMRISSCOPY PRESET
projectName=SEVEn
allSourceFolders=()
allReelNames=()
allDestinationFolders=()
allSourceFolders+=("/mnt/Projekt/TEST")
allReelNames+=(D001)
allSourceFolders+=("/mnt/Projekt/TEST2")
allReelNames+=(D002)
allDestinationFolders+=("/mnt/Projekt/SSD/")
allDestinationFolders+=("/mnt/Daten/Test/")
verificationMode=xxhash
