## FILMRISSCOPY PRESET

projectName="CHAD"
sourceFolder1="/mnt/Projekt/Test"
reelName1="A001"
destinationFolder1="/mnt/Projekt/SSD"
## FILMRISSCOPY PRESET
projectName=SWDB
sourceFolder1=/mnt/Projekt/TEST2
reelName1=A002
destinationFolder1=/mnt/Projekt/HDD/
## FILMRISSCOPY PRESET
projectName=SWDB
sourceFolder1=/mnt/Projekt/TEST2
reelName1=A002
destinationFolder1=/mnt/Projekt/HDD/
## FILMRISSCOPY PRESET
projectName=SWDB
sourceFolder1=/mnt/Projekt/TEST
reelName1=A001
destinationFolder1=/mnt/Projekt/SSD/
## FILMRISSCOPY PRESET
projectName=CHAD
sourceFolder1=/mnt/Projekt/TEST
sourceFolder2=/mnt/Projekt/TEST2
reelName1=A001
reelName2=A002
destinationFolder1=/mnt/Projekt/SSD/
destinationFolder2=/mnt/Projekt/HDD/
## FILMRISSCOPY PRESET
projectName=CHAD
sourceFolder1=/mnt/Projekt/TEST
sourceFolder2=/mnt/Projekt/TEST2
reelName1=A001
reelName2=A002
destinationFolder1=/mnt/Projekt/SSD/
destinationFolder2=/mnt/Projekt/HDD/
## FILMRISSCOPY PRESET
projectName=CHAD
sourceFolder1=/mnt/Projekt/TEST
sourceFolder2=/mnt/Projekt/TEST2
reelName1=A001
reelName2=A002
destinationFolder1=/mnt/Projekt/SSD/
destinationFolder2=/mnt/Projekt/HDD/
## FILMRISSCOPY PRESET
projectName=TEST
sourceFolder1=/mnt/Projekt/TEST2
sourceFolder2=
reelName1=A001
reelName2=
destinationFolder1=/mnt/Projekt/SSD/
destinationFolder2=
## FILMRISSCOPY PRESET
projectName=TEST
sourceFolder1=/mnt/Projekt/TEST2
sourceFolder2=
reelName1=A001
reelName2=
destinationFolder1=/mnt/Projekt/SSD/
destinationFolder2=
## FILMRISSCOPY PRESET
projectName=KREBS
sourceFolder1=/mnt/Video/Projekte/Filmriss Projekte/Chad/DT03_KücheKaty2/
sourceFolder2=
reelName1=A003
reelName2=
destinationFolder1=/mnt/Projekt/SSD/
destinationFolder2=
## FILMRISSCOPY PRESET
projectName=KREBS
sourceFolder1=/home/benny/Videos/DT03_KücheKaty2/
sourceFolder2=
reelName1=A001
reelName2=
destinationFolder1=/mnt/Daten/
destinationFolder2=
## FILMRISSCOPY PRESET
projectName=KREBS
sourceFolder1=/home/benny/Videos/DT03_KücheKaty2/
sourceFolder2=
reelName1=A001
reelName2=
destinationFolder1=/mnt/Daten/Test/
destinationFolder2=
## FILMRISSCOPY PRESET
projectName=KREBS
sourceFolder1=/home/benny/Videos/DT03_KücheKaty2/
sourceFolder2=
reelName1=A001
reelName2=
destinationFolder1=/mnt/Daten/Test/
destinationFolder2=
## FILMRISSCOPY PRESET
projectName=KREBS2
sourceFolder1=/home/benny/Videos/DT03_KücheKaty2/
sourceFolder2=
reelName1=A001
reelName2=
destinationFolder1=/mnt/Daten/Test/
destinationFolder2=
